body {
  background: url('images/stars_tile.jpg') black;
  color: white;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.status {
  z-index: 100;
  position: fixed;
  width: 100%;
}

.thing {
  position: absolute;
}

#ruler {
  width: 100mm;
  display: none;
}

.info {
  position: absolute;
  border-radius: 5px;
  border: 3px solid #600;
  margin: 5px;
  padding: 5px;
  background: #222;
}
.info > span {
  float: left;
  clear: both;
}
.info span.universe {
  color: yellow;
}

a {
  color: white;
}
a:hover, a:active {
  color: #CCC;
}
a:visited {
  color: #999;
}

.loading, .loaded, .scalebar {
  background: url('images/stars_tile.jpg') black;
  background-attachment: fixed;
  padding: 10px;
}
.scalebar {
  float: right;
}
.scalebar .bar {
  border: 1px solid white;
  border-top-width: 0px;
  height: 10px;
  margin-top: 10px;
}
